@model Demo.Models.Donhang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-12">
                    <h6 class="h2 text-white d-inline-block mb-0">Khởi tạo đơn hàng</h6>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.maHD, "Mã hóa đơn", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("maHD", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.maHD, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.maCH, "Tên cửa hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("maCH", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.maCH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.maND, "Tên người dùng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("maND", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.maND, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="form-control-label" for="input-email">Tiến độ</label>
                                    @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Đang lấy hàng",
                                            Value = "Đang lấy hàng"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Đang giao hàng",
                                            Value = "Đang giao hàng",

                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Đã nhận hàng ",
                                            Value = "Đã nhận hàng",

                                        });

                                    }

                                    @Html.DropDownListFor(model => model.tiendo, listItems, "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>

</div>
<div>
    @Html.ActionLink("Quay lại", "List", "Product")
</div>




