@model Demo.Models.Donhang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">


            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Thông tin của đơn hàng @Model.maDH</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="tittle">Mã hóa đơn</label>
                                    <input type="text" class="form-control" disabled value="@Model.maHD" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="tittle">Tên cửa hàng</label>
                                    <input type="text" class="form-control" disabled value="@Model.Cuahang.tenCH" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="tittle">Tên người mua</label>
                                    <input type="text" class="form-control" disabled value="@Model.NguoiDung.tenND" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="tittle">Tiến độ</label>
                                    <input type="text" class="form-control" disabled value=" @Html.DisplayFor(model => model.tiendo)" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Quay lại", "Index", "DonHang")
                </div>
            }


        </div>
    </div>
</div>



