@model Demo.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-12">
                    <h6 class="h2 text-white d-inline-block mb-0">Duyệt sản phẩm</h6>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.maSP)
                            @Html.HiddenFor(model => model.maLoaiSP)
                            @Html.HiddenFor(model => model.maSize)
                            @Html.HiddenFor(model => model.maTP)
                            @Html.HiddenFor(model => model.maCH)
                            @Html.HiddenFor(model => model.idAdmin)
                            @Html.HiddenFor(model => model.tenSP)
                            @Html.HiddenFor(model => model.gia)
                            @Html.HiddenFor(model => model.mota)
                            @Html.HiddenFor(model => model.hinhanh)





                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="form-control-label" for="input-email">Trạng thái</label>
                                    @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Đợi Duyệt",
                                            Value = "0"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Hiển thị",
                                            Value = "1",

                                        });

                                    }

                                    @Html.DropDownListFor(model => model.status, listItems, "", new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>

</div>
<div>
    @Html.ActionLink("Quay lại", "ListDuyet", "Product")
</div>

