@using Demo.Models
@{
    ViewBag.Title = "ProfileAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

    <title>Profile Admin</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/owl-carousel/owl.carousel.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/nice-select/css/nice-select.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/fancybox/css/jquery.fancybox.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/virtual.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/minibar.virtual.css">
</head>
<body class="theme-red">

    <!-- Back to top button -->
    <div class="btn-back_to_top">
        <span class="ti-arrow-up"></span>
    </div>

    <!-- Setting button -->
    <div class="config">
        <div class="template-config">
            <!-- Settings -->
            <div class="d-block">
                <button class="btn btn-fab btn-sm" id="sideel" title="Settings"><span class="ti-settings"></span></button>
            </div>
            <!-- Puschase -->
            <div class="d-block">
                <a href="https://macodeid.com/projects/virtual-folio/" class="btn btn-fab btn-sm" title="Get this template" data-toggle="tooltip" data-placement="left"><span class="ti-download"></span></a>
            </div>
            <!-- Help -->
            <div class="d-block">
                <a href="#" class="btn btn-fab btn-sm" title="Help" data-toggle="tooltip" data-placement="left"><span class="ti-help"></span></a>
            </div>
        </div>
        @*<div class="set-menu">
            <p>Select Color</p>
            <div class="color-bar" data-toggle="selected">
                <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
                <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
                <span class="color-item bg-theme-green" data-class="theme-green"></span>
                <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
                <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
            </div>
            <select class="custom-select d-block my-2" id="change-page">
                <option value="">Choose Page</option>
                <option value="index">Topbar</option>
                <option value="blog-topbar">Blog (Topbar)</option>
                <option value="index-2">Minibar</option>
                <option value="blog-minibar">Blog (Minibar)</option>
            </select>
        </div>*@
    </div>

    <div class="topbar-nav fixed-top">
        <div class="brand">
            <img src="~/Content/assets/favicon.ico" alt="" width="30" height="30">
        </div>
        <h3 class="ml-1">Gram</h3>
        <button class="btn-fab toggle-menu mr-3"><span class="ti-menu"></span></button>
    </div>

    

    <div class="vg-main-wrapper">
        <div class="vg-page page-home" id="home" style="background-image: url(/Content/assets/img/bg_image_2.jpg);">
            @if (Session["AccountAdmin"] != null)
            {

                Admin u = (Admin)Session["AccountAdmin"];
                <div class="caption wow zoomInUp">
                    <h1 class="fw-normal">Xin Chào</h1>
                    <h2 class="fw-medium fg-theme">I'm @u.ten</h2>
                    <p class="tagline">Một số thông tin của bạn</p>
                </div>
            }
            </div>

        <!-- Page About -->
        <div class="vg-page page-about" id="about">
            <!-- Profile -->
            <div class="container py-3">
                @if (Session["AccountAdmin"] != null)
                {

                    Admin u = (Admin)Session["AccountAdmin"];
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-place wow zoomIn">
                                <img src="@u.anh" alt="Photo Profile">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="caption wow fadeInRight">
                                <h2 class="fg-dark">@u.ten</h2>
                                @if (u.type == 0)
                                {
                                    <p class="fg-theme fw-medium">Chủ cửa hàng</p>
                                }
                                else
                                {
                                    if (@u.type == 1)
                                    {
                                        <p class="fg-theme fw-medium">Admin</p>
                                    }
                                    else if (@u.type == 2)
                                    {
                                        <p class="fg-theme fw-medium">Nhân viên</p>
                                    }                                    
                                }
                                <p>Bí quyết thành công trong đời là cứ ăn những gì bạn thích mặc cho chúng có quậy tưng cái bụng của bạn.</p>
                                <ul class="theme-list">
                                    <li class="fg-dark"><b>From:</b> @u.diachi</li>
                                    <li class="fg-dark"><b>SĐT:</b>@u.sdt</li>
                                    <li class="fg-dark"><b>Age:</b> @DateTime.Now-@u.ngaysinh</li>
                                    <li class="fg-dark">
                                        <b>Giới tính:</b>
                                        @if (u.gioitinh == null)
                                        {


                                            <p>Trống</p>
                                        }
                                        else
                                        {
                                            if (@u.gioitinh == 1)
                                            {
                                                <p>Nữ</p>
                                            }
                                            else if (@u.gioitinh == 0)
                                            {
                                                <p>Nam</p>
                                            }
                                            else if (@u.gioitinh == 2)
                                            {
                                                <p>Khác</p>
                                            }
                                        }
                                    </li>
                                </ul>
                                <button class="btn btn-theme btn-rounded">Download CV</button>
                            </div>
                        </div>
                    </div>
                }
            </div> <!-- End profile -->



            <script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>

            <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>

            <script src="~/Content/assets/vendor/owl-carousel/owl.carousel.min.js"></script>

            <script src="~/Content/assets/vendor/perfect-scrollbar/js/perfect-scrollbar.js"></script>

            <script src="~/Content/assets/vendor/isotope/isotope.pkgd.min.js"></script>

            <script src="~/Content/assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>

            <script src="~/Content/assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>

            <script src="~/Content/assets/vendor/wow/wow.min.js"></script>

            <script src="~/Content/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

            <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

            <script src="~/Content/assets/js/google-maps.js"></script>

            <script src="~/Content/assets/js/minibar-virtual.js"></script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>
        </div>
    </div>
    
</body>
</html>
