@using Demo.Models
@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Shared/_Layoutchinh.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

    <title>Profile User</title>

    <link rel="shortcut icon" href="~/Content/assets/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/owl-carousel/owl.carousel.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/nice-select/css/nice-select.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/fancybox/css/jquery.fancybox.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/virtual.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/topbar.virtual.css">
</head>
<body class="theme-red">

    <!-- Back to top button -->
    <div class="btn-back_to_top">
        <span class="ti-arrow-up"></span>
    </div>

    <!-- Setting button -->
    <div class="config">
        <div class="template-config">
            <!-- Settings -->
            <div class="d-block">
                <button class="btn btn-fab btn-sm" id="sideel" title="Settings"><span class="ti-settings"></span></button>
            </div>
            <!-- Puschase -->
            <div class="d-block">
                <a href="https://macodeid.com/projects/virtual-folio/" class="btn btn-fab btn-sm" title="Get this template" data-toggle="tooltip" data-placement="left"><span class="ti-download"></span></a>
            </div>
            <!-- Help -->
            <div class="d-block">
                <a href="#" class="btn btn-fab btn-sm" title="Help" data-toggle="tooltip" data-placement="left"><span class="ti-help"></span></a>
            </div>
        </div>
        <div class="set-menu">
            <p>Select Color</p>
            <div class="color-bar" data-toggle="selected">
                <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
                <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
                <span class="color-item bg-theme-green" data-class="theme-green"></span>
                <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
                <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
            </div>
            <select class="custom-select d-block my-2" id="change-page">
                <option value="">Choose Page</option>
                <option value="index">Topbar</option>
                <option value="blog-topbar">Blog (Topbar)</option>
                <option value="index-2">Minibar</option>
                <option value="blog-minibar">Blog (Minibar)</option>
            </select>
        </div>
    </div>
    <div class="carousel">
        <div class="owl-carousel">
            <div class="vg-page page-home" alt="Image" id="home" style="background-image: url(/Content/assets/img/bg_image_1.jpg); margin-bottom: 100px">
                @if (Session["Account"] != null)
                {

                    NguoiDung u = (NguoiDung)Session["Account"];
                    <div class="caption-header text-center wow zoomInDown">
                        <h5 class="fw-normal">Xin Chào</h5>
                        <h1 class="fw-light mb-4">I'm <b class="fg-theme">@u.tenND</b> !!!</h1>
                        <div class="badge">Một số thông tin của bạn</div>
                    </div> <!-- End Caption header -->
                    <div class="floating-button"><span class="ti-mouse"></span></div>
                }
            </div>
        </div>
    </div>
    
    <div class="floating-button"><span class="ti-mouse"></span></div>
    <div class="container py-5" style="margin-top: -200px">
        @if (Session["Account"] != null)
        {

            NguoiDung u = (NguoiDung)Session["Account"];
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="carousel">
                        <div class="owl-carousel">
                            <div class="img-place wow fadeInUp">
                            <img src="~/Image/ImageUpload/@u.anh" alt="">
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 wow fadeInRight">
                    <h1 class="fw-light">@u.tenND</h1>
                    <h5 class="fg-theme mb-3">@u.email</h5>
                    <p class="text-muted">Bí quyết thành công trong đời là cứ ăn những gì bạn thích mặc cho chúng có quậy tưng cái bụng của bạn.</p>
                    <ul class="theme-list">
                        <li><b>Địa chỉ:</b> @u.diachi</li>
                        <li><b>SĐT:</b>@u.sdt</li>
                        <li><b>Sinh nhật:</b>@u.ngaysinh</li>
                        <li>
                            <b>Giới tính:</b>
                            @if (u.gioitinh == null)
                            {


                                <p>Trống</p>
                            }
                            else
                            {
                                if (@u.gioitinh == 1)
                                {
                                    <p>Nữ</p>
                                }
                                else if (@u.gioitinh == 0)
                                {
                                    <p>Nam</p>
                                }
                                else if (@u.gioitinh == 2)
                                {
                                    <p>Khác</p>
                                }
                            }
                        </li>
                    </ul>
                    <a href="@Url.Action("EditProfileUser", "Home", new { id=u.maND })">
                        <button class="btn custom-btn"> Chỉnh sửa</button>
                    </a>
                </div>
            </div>
        }
    </div>

</body>
</html>